#iconContainer {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

         #iconSelectedContainer {
            border: 1px solid #ccc;
            padding: 10px;
            display: flex;
            flex-wrap: nowrap;
            gap: 10px;
            overflow-x: auto;
        }
        .iconItem {
            flex: 0 0 calc(25% - 10px);
            max-width: calc(25% - 5px);
            text-align: center;
            cursor: pointer;
        }
         
         

        .iconItem:hover {
            background-color: #007bff;
            color: white;
        }

        .selected {
               border: 2px solid #007bff;
        }

        .custom-btn-size {
            height: 10%; /* Set your desired height */
        }
            #customAlert {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        width: 25%;
    }

    #customAlert .close {
        float: right;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1;
        color: inherit;
    }

    #customAlert .close:focus,
    #customAlert .close:hover {
        color: #000;
        text-decoration: none;
        opacity: 0.7;
    }
    
    .custom-btn-size {
        font-size: 16px;
        padding: 14px 24px; 
    }
    .btn{
		margin-right: 100px;
	}

    .btn-primary {
        background-color: #3498db; 
        border-color: #3498db; 
        color: #fff; 
        margin-left: 150px;
       
    }

    .btn-success {
        background-color: rgb(13, 87, 22); 
        border-color: rgb(0, 128, 0); 
        color: #fff; 
    }

    .btn-primary:hover {
        background-color: #2980b9; 
        border-color: #2980b9;
         }

    .btn-success:hover {
        background-color: #27ae60; 
        border-color: #27ae60; 
    }